<h1> Programing Paradigms </h1>

<p>
  This site aims to storage the Homeworks of the
  <%= link_to 'Programing Paradigms', 'http://en.wikipedia.org/wiki/Programming_paradigm' %> 
  course teached by <br />
  <%= link_to 'Francisco José Correa Zabala', 'http://www.eafit.edu.co/programas-academicos/pregrados/ingenieria-sistemas/informacion-academica/Paginas/francisco-jose-correa-zabala.aspx' %>
  at <%= link_to 'Eafit University', "http://www.eafit.edu.co" %>.
</p>

<%= link_to 'Sign up now!', signup_path, :class => 'signup_button round'  %>
