<footer>
  
  <nav class="round">
    This site is completely open source and the source code can be found at
    <%= link_to 'Github', 'https://github.com/Ecarrion/Paradigmas-homework-site' %>
  </nav>
  
</footer>
